# Set default environment variables here - any values will be ignored if the variable is already set

SYNC_DATABASES="DATABASE1 DATABASE2 DATABASE3"
SSH_SYNC_USER=user
SSH_SYNC_HOST=host
SSH_SYNC_PORT=22

# cat KEY | base64
BASE64_PRIVATE_KEY=ABCDEF

